/sammel_server/target/
/.idea/
/sammel_db/target/
/sammel_app/ios/
/sammel_server/Wildfly/configuration/sammel-app.test-keystore.p12
/sammel_server/Wildfly/configuration/sammel-app-firebase-adminsdk.json
/sammel_server/Wildfly/configuration/sammel-app.prod-keystore.p12
/server-work-dir/secrets/*
/server-work-dir/logs/*
.vscode
/sammel_gis/db/*