
# Überschreibt die Standard-Werte

[client]
default-character-set = utf8mb4

#[mysql]                                                            #offenbar unnötig
#default-character-set = utf8mb4                                    #offenbar unnötig

[mysqld]
#character-set-client-handshake = FALSE                             #offenbar unnötig
#collation-server = utf8mb4_unicode_ci                              #offenbar unnötig
#init-connect = 'SET NAMES utf8mb4 COLLATE utf8mb4_unicode_ci'      #offenbar unnötig
character-set-server = utf8mb4